<link rel="stylesheet" href="boasvindas.css">

    
   
   <h1 class="titulo_cartao">Cartão de acesso <br> {{user}}</h1><br>

        <section>
            
            <div id="dia_sem">
                 <h3>Nome: {{ user }}</h3>
            </div>
            
            <div id="">
                
            </div>
            
            <div id="">
                
            </div>
            
            <div id="img">
                <img id="foto" src=" " alt="nascer do sol">
            </div>
            <a href="logaut.php" class="link">Sair</a>
        </section>

    