<link rel="stylesheet" href="login.css">
<!--{% if erro == 1 %}
    Esqueceu a senha, neh fela da puta😒!!!
{% elseif erro == 2 %}
   Vai entra o caralho😁😁😁!!
{% elseif erro == 3 %}
  Senha alterada com sucesso, parabéns👌!!!
{% endif %}-->


<form action="login_verifica.php" method="post" class="login">
   <div class=".login__container">
   <h1 class="login__title">Cartão de Acesso</h1>
    <div>

        <input type="text" name="user" id="usuario" class="login__input" placeholder="usuário">

    </div>
<br>
    <div>

        <input type="password" name="pass" id="senha" class="login__input" placeholder="senha">

    </div>
<br>
    <div>

        <input type="submit" value="Acessar" class="login__submit">

    </div>
    
</div>
</form>

