{% if erro == 1 %}
    Esqueceu a senha, neh fela da puta😒!!!
{% elseif erro == 2 %}
   Vai entra o caralho😁😁😁!!
{% elseif erro == 3 %}
  Senha alterada com sucesso, parabéns👌!!!
{% endif %}


<form action="login_verifica.php" method="post">
   
    <div>

        <input type="text" name="user" id="usuario" placeholder="usuário">

    </div>

    <div>

        <input type="password" name="pass" id="senha" placeholder="senha">

    </div>

    <div>

        <input type="submit" value="Acessar">

    </div>

</form>

<div>
    <a href="recuperar_senha.php">Esqueci minha senha</a>
</div>